!!! 5
html
	head
		link(rel="stylesheet", href="/css/application.css")
		link(rel="stylesheet", href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
		script
			GAME_ID = #{gameMeta.id};
	body
		#menu
			button#spectator_anchor.btn.info Spectators
			ul#spectators
		#container
			canvas#cvs_ball
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/js/processing-1.3.6.min.js")
		script(src="/js/require.js")
		script(src="/js/game.js") 
