html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 90%;
}
body {
  font-family: "Helvetica";
  height: 100%;
}
#lobby {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -250px 0 0 -300px;
}
#lobby #games_menu {
  float: left;
  margin: 10px;
  padding: 10px;
}
#lobby #new_game-container {
  float: right;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
#container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -340px 0 0 -312px;
  background: #ccc;
  width: 680px;
  height: 680px;
  position: relative;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#container #canvas {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}
#container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: -webkit-gradient(radial, 300 50%, 400, 300 50%, 37, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0.35)));
}
#container:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 0 0 12px #000, inset 0 0 8px #000;
}
.player {
  position: absolute;
}
.player .paddle {
  position: absolute;
  box-shadow: inset 0 0 1px #000;
}
.player .middle {
  position: relative;
}
.player .middle > span {
  margin: 0 2px;
}
.player.player-horizontal {
  width: 100%;
  height: 13px;
  text-align: center;
}
.player.player-vertical {
  height: 100%;
  top: 0;
  width: 13px;
}
.player.player-vertical .middle {
  top: 50%;
  position: absolute;
  margin-top: -1em;
}
#player0 {
  border-radius: 12px 12px 0 0;
  top: -13px;
}
#player0 .middle {
  top: -30px;
}
#player1 {
  border-radius: 0 12px 12px 0;
  right: -13px;
}
#player1 .middle {
  right: -100px;
}
#player2 {
  border-radius: 0 0 12px 12px;
  bottom: -13px;
}
#player2 .middle {
  bottom: -30px;
}
#player3 {
  border-radius: 12px 0 0 12px;
  left: -13px;
}
#player3 .middle {
  left: -100px;
}
.notice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background: #000;
  opacity: .8;
  color: #fff;
  cursor: pointer;
}
.notice span {
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  font: 700 30px helvetica, arial;
}
#menu {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 18px;
}
#menu #spectators {
  position: absolute;
  bottom: 20px;
  background: #ddd;
  font: 500 11px arial;
  list-style-type: decimal;
  list-style-position: inside;
  padding: 6px;
}
