html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


html {
    background-color: #666;
	 height: 90%;
}
body {
    font-family: "Helvetica";
	 height: 100%;
}

#container {
	position: absolute;
	left: 50%; top: 50%;
	margin: -264px 0 0 -300px;
	background: #fff;
	width: 600px;
	height: 600px;
	position: relative;
	border-radius: 14px;
}
#ball {
	position: absolute;
	left: 300px;
	top: 300px;
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 10px;
}


.player { position: absolute; background: #ccc; }
.player-horizontal { width: 100%; height: 13px; text-align: center; }
.player-vertical { height: 100%; top: 0; width: 13px; }
#player1 { border-radius: 12px 12px 0 0; }
#player2 { border-radius: 0 12px 12px 0; right: 0; }
#player3 { border-radius: 0 0 12px 12px; bottom: 0; }
#player4 { border-radius: 12px 0 0 12px; }

.paddle {
	position: absolute; 
	box-shadow: inset 0 0 1px #000;
}
.player-horizontal .paddle { width: 100px; height: 12px; }
.player-vertical .paddle { width: 12px; height: 100px; }
#player1 .paddle { top: 0; left: 250px; background: red; border-radius: 12px 12px 0 0; }
#player2 .paddle { right: 0; top: 250px; background: green; border-radius: 0 12px 12px 0; }
#player3 .paddle { bottom: 0; left: 250px; background: blue; border-radius: 0 0 12px 12px; }
#player4 .paddle { left: 0; top: 250px; background: yellow; border-radius: 12px 0 0 12px; }

.name-label { position: relative; color: #fff; }
.player-vertical .name-label { top: 50%; position: absolute; }
#player1 .name-label { top: -30px; }
#player2 .name-label { right: -75px; }
#player3 .name-label { bottom: -30px; }
#player4 .name-label { left: -75px; }


.notice {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	line-height: 100%;
	background: #000;
	opacity: .8;
	color: #fff;
	cursor: pointer;
}
.notice span {
	cursor: pointer;
	text-align: center;
	position: absolute; top: 50%;
	width: 100%;
	font: 700 30px helvetica, arial;
}
.notice input {
	width: 220px;
	font: 700 30px helvetica, arial;
}



#menu {
	position: absolute;
	bottom: 1px; left: 0;
	width: 100%; height: 18px;
}
#menu #spectator_anchor {
	font: normal 12px arial;
	text-decoration: none;
	color: turquoise;
	
}
#menu #spectators {
	position: absolute;
	bottom: 20px;
	background: #ddd;
	font: 500 11px arial;
}