#lobby {
	width: 600px; display: table;
	position: absolute;
	left: 50%; top: 50%;
	margin: -250px 0 0 -300px;
	background-color: #4b525d;
	border-radius: 7px;
	box-shadow: 0 5px 5px rgba(0,0,0,.3);
	border: 1px solid #31373f;

	> div {
		box-shadow: inset 1px 1px 0 #575d66;
	}


	#games_menu {
		display: table-cell;
		padding: 20px;
		background-color: #424952;
		border-radius: 7px 0  0 7px;
		border-right: 1px solid #31373f;

		#game_list { }
	}

	#new_game-container {
		display: table-cell;
		padding: 20px;
		border-radius: 0 7px 7px 0;
	}
}
